# Dependencies
node_modules/
*/node_modules/

# Production build
build/
dist/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Package lock (opcional, depende de tu preferencia)
package-lock.json